{% macro render_items(items, link_class='menu-item', submenu_class='dropdown-menu', level=0) %}
	{% for item in items %}
		{% set hasChildren = item.children is defined and item.children|length > 0 %}
		{# Normalize legacy short-codes like 'cat_00', 'cat_01', 'cat_02' to proper paths #}
		{% set href = item.href %}
		{% if href is defined and href is not empty %}
			{% if href matches('/^cat_0[01]$/') %}
				{% set href = '/menu' %}
			{% elseif href matches('/^cat_02$/') %}
				{% set href = '/kategorie' %}
			{% endif %}
		{% endif %}

		{% if level == 0 %}
			<li class="dropdown">
				{% if hasChildren %}
					<ul
						class="dropdown-menu" style="display:none;">
						{# Only render one more level; apply same normalization for child hrefs #}
						{% for sub in item.children %}
							{% set subHref = sub.href %}
							{% if subHref is defined and subHref is not empty %}
								{% if subHref matches('/^cat_0[01]$/') %}
									{% set subHref = '/menu' %}
								{% elseif subHref matches('/^cat_02$/') %}
									{% set subHref = '/kategorie' %}
								{% endif %}
							{% endif %}
							<a href="{{ href }}" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown">{{ item.label }}
								{% if hasChildren %}
									<b class="caret"></b>
								{% endif %}
							</a>
							<li>
								<a href="{{ subHref }}">{{ sub.label }}</a>
							</li>
						{% endfor %}
					</ul>
				{% endif %}
			</li>
		{% endif %}
	{% endfor %}
{% endmacro %}
